/* Quinta sección */
#fifth-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 50px 110px;
    padding-inline: 100px;
}

.message-sub-section:first-child span {
    font-size: 53.8px;
    font-weight: 100;
    color: #000;
}

.message-sub-section:nth-child(3) {
    display: flex;
    justify-content: start;
}