@import url('./ReajustadorDeMargenes.css');
@import url('./Colores.css');
@import url('./ClasesGenerales.css');
@import url('./FirstSection.css');

.head-line {
    padding: 1rem 2rem;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-header {
    display: flex;
    align-items: center;
}

.container-header img {
    width: 50px;
    height: auto;
}

.container-header span a {
    color: #FFFFFF;
    font-size: 1.35rem;
}

.list-container-order {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.list-element {
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.2s ease;
}

.list-element:hover {
    text-decoration: underline;
}

.btn-general-type {
    background-color: #FFFFFF;
    color: #014DFE;
    border: none;
    border-radius: 9999px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-general-type:hover {
    background-color: #014DFE;
    color: #FFFFFF;
}

.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #FFFFFF;
    padding: 80px 20px;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 999;
}

.hero-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}

.hero-section:first-child {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    max-width: 800px;
}

.hero-sub-section:first-child span {
    font-size: 1.328rem;
    color: rgba(255, 255, 255, 0.8);
    text-align: justify;
    max-width: 500px;
    margin: 0 auto;
    display: inline-block;
    line-height: 1.4;
}

.btn-special-type {
    display: flex;
    gap: 10px;
    margin: 10px;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
}

.btn-special-type img {
    width: 20px;
    height: 20px;
}

/* Estilos personalizados para los iconos de los botones */
#btn-hero-1 {
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #014DFE;
    transition: all 0.3s ease;
}

#btn-hero-2 {
    border: 2px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    transition: all 0,3s ease;
}

#btn-hero-1:hover {
    background-color: transparent;
    color: #FFFFFF;
}

#btn-hero-2:hover {
    background-color: #FFFFFF;
    color: #014DFE;
}

#icon-apple-store {
    filter: invert(26%) sepia(100%) saturate(4000%) hue-rotate(190deg) brightness(100%) contrast(110%);
    transition: all 0.05s ease-in-out;
}

#icon-play-store {
    transition: all 0.05s ease-in-out;
}

.btn-special-type:hover #icon-play-store {
    filter: invert(26%) sepia(100%) saturate(4000%) hue-rotate(190deg) brightness(100%) contrast(110%);
}

.btn-special-type:hover #icon-apple-store {
    filter: none;
}