@import url('./ReajustadorDeMargenes.css');
@import url('./Colores.css');
@import url('./ClasesGenerales.css');
@import url('./FirstSection.css');
@import url('./SecondSection.css');
@import url('./ThirdSection.css');
@import url('./FourthSection.css');
@import url('./FifthSection.css');
@import url('./SixthSection.css');
@import url('./SeventhSection.css');

.head-line {
    padding: 1rem 2rem;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-header {
    display: flex;
    align-items: center;
}

.container-header img {
    width: 50px;
    height: auto;
}

.container-header span a {
    color: #FFFFFF;
    font-size: 1.35rem;
}

.list-container-order {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.list-element {
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.2s ease;
}

.list-element:hover {
    text-decoration: underline;
}

.list-element a {
    color: #FFFFFF;
}

.btn-general-type {
    background-color: #FFFFFF;
    color: #014DFE;
    border: none;
    border-radius: 9999px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-general-type:hover {
    background-color: #014DFE;
    color: #FFFFFF;
}

/* Sección del contenedor del mensaje*/
.message-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 50%;
}

/* Container de Imagenes y estilos predeterminados */
.image-section {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image-cut {
    width: 100%;
    max-width: 450px;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}